    #logo {
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 0px;
        color: rgba(109, 183, 251, 1);
        text-decoration: none;
    }
    
    #body_container {
        background-color: rgba(242, 242, 242, 1);
        margin: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .arrow {
        padding-left: 30px;
        padding-top: 2vh;
    }
    
    #menu {
        margin-right: 60px;
        align-self: flex-end;
    }
    
    .messages-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .button-menu {
        background-color: rgba(249, 249, 249, 1);
        border: 1px solid rgb(35, 35, 35);
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        border-radius: 45px;
        width: 20px;
        height: 20px;
    }
    
    .button-chat {
        background-color: rgb(35, 35, 35);
        border: 1px solid rgb(35, 35, 35);
        fill: rgb(255, 255, 255);
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        border-radius: 45px;
        width: 20px;
        height: 20px;
    }
    
    .button-menu:hover {
        fill: rgb(255, 255, 255);
        background-color: rgb(35, 35, 35);
        cursor: pointer;
    }
    
    .button-account {
        background-color: rgba(249, 249, 249, 1);
        border: 1px solid rgb(35, 35, 35);
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        border-radius: 45px;
        width: 30px;
        height: 30px;
        text-decoration: none;
        color: black;
    }
    
    .button-account:hover {
        fill: rgb(255, 255, 255);
        background-color: rgb(35, 35, 35);
        cursor: pointer;
    }
    
    #navegation-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }
    
    header {
        margin-top: 0px;
    }
    
    #messages-text {
        font-family: Inter, medium;
        text-align: center;
        font-size: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 9vh;
    }
    
    .chats-dashboard {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
    }
    
    #search-bar {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 350px;
        height: 40px;
        border-radius: 45px;
        padding-left: 30px;
        margin-top: 15px;
        margin-left: 2vh;
        font-family: inter, medium;
        color: rgb(217, 216, 216);
        border: 1px solid rgba(46, 46, 46, 0.33);
        justify-content: space-between;
        fill: rgba(46, 46, 46, 0.33);
    }
    
    #icon-search {
        padding-right: 30px;
    }
    
    .chat-open {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        width: 95%;
        height: 89vh;
        justify-content: space-between;
        align-items: center;
        margin-right: 2px;
        margin-left: 2vh;
        margin-bottom: 1vh;
    }
    
    #name-user-chat {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: Inter, bold;
        color: rgba(139, 139, 139, 1);
        width: 100%;
        height: fit-content;
        font-size: 22px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        box-shadow: 0px 1px 4px 0px black;
        /*justify-content: top;*/
    }
    
    #user-name {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
    }
    
    #text-input-chat {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
    }
    
    #text-input {
        font-family: Inter, medium;
        color: rgba(70, 70, 70, 0.3);
        width: 100%;
        height: fit-content;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 15px;
        box-shadow: 0px 1px 4px 0px black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    #icon-send {
        color: white;
        width: 20px;
        padding: 6px;
    }
    
    #icon-send-back {
        background-color: rgba(109, 183, 251, 1);
        border-radius: 50px;
        height: fit-content;
        width: fit-content;
        align-content: center;
        justify-content: center;
        margin-right: 20px;
        padding: 5px 6px 1px;
    }
    
    #chat-open {
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }
    
    .chat-user {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        width: 350px;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
    }
    
    #image-user {
        border-radius: 20px;
        height: 85px;
    }
    
    footer {
        background-color: rgba(217, 217, 217, 1);
        bottom: 0;
        height: 20px;
        width: 100%;
        margin-top: auto;
    }
    
    #box-message-chat {
        display: flex;
        flex-direction: column;
    }
    
    #user-chat {
        font-family: Inter, medium;
        color: rgba(139, 139, 139, 1);
        font-size: 23px;
        margin: 0;
        padding-left: 10px;
    }
    
    #message-text {
        font-family: Inter, medium;
        margin: 0;
        margin-top: 5px;
        color: rgba(139, 139, 139, 1);
        font-size: 12px;
        padding-left: 10px;
    }
    
    #notifications {
        font-family: Inter, medium;
        color: white;
        background-color: rgba(119, 214, 220, 1);
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 50px;
        font-size: 16px;
        margin-left: 5px;
        margin-right: 10px;
        align-items: flex-end;
    }
    
    .messages-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }